{deps, [
    {hackney, ".*", {git, "https://github.com/benoitc/hackney", {tag, "1.15.2"}}}
    , {jsx, "2.8.2", {git, "https://github.com/talentdeficit/jsx", {tag, "v2.8.2"}}}
    , {erlsh, ".*", {git, "https://github.com/proger/erlsh", "HEAD"}}
    , {fn, "0.3.0", {git, "https://github.com/reiddraper/fn", {tag, "0.3.0"}}}
    , {lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.0.0"}}}
    , {active, ".*", {git, "https://github.com/proger/active", "HEAD"}}
]}.
